body {
  background-color: rgb(200, 200, 200);
  color: #222222;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.header h1 {
  color: white;
  background-color: #4b5763;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

h2 {
  color: #2c3e50;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

h3 {
  color: #2c3e50;
  margin-top: 20px;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 4px;
}

h3::first-letter {
  font-size: 24px;
  color: #0b1c2c;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: 3px solid #2c3e50;
  border-radius: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

ul {
  background-color: rgb(230, 222, 222);
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
}

ol {
  background-color: rgb(230, 222, 222);
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}

a[href^="mailto:"] {
  color: #1a5cb3;
}

a:hover {
  color: #043117;
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: rgb(230, 222, 222);
  border-radius: 10px;
  border: 2px solid #4b5763;
}

th, td {
  padding: 10px 15px;
  text-align: left;
  border: 1px solid #bbb;
  font-size: 15px;
}

th {
  background-color: #4b5763;
  color: white;
}

th:nth-child(even) {
  background-color: #6a7a8a;
  color: white;
}

tr:hover {
  background-color: #dcdcdc;
}

.contact-form {
  background-color: white;
  max-width: 500px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(10, 10, 10, 0.1);
}

form label {
  font-weight: bold; 
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 6px;
}

input[type="submit"] {
  background-color: #4b5763;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
}

input[type="submit"]:hover {
  background-color: #3a4450;
}
 /* use validation styling in previous css as it contains other stylings for form as well*/
input.invalid, textarea.invalid, select.invalid {
  background: #f8d7da;
  border: 1px solid red;
}
label.invalid {
  color: red;
}

